<div class="myLogin-Icon" appDropdown >

            <div class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" dropdown-toggle><i class="fas fa-user-alt" style="cursor: pointer;"></i>
                  <span class="caret" ></span>
                </a>
    
                <ul class="dropdown-menu"  >
                    <li routerLinkActive="active"><a class="myLogin a "routerLink="/auth">Login</a></li>
                    <li><a class="myLogin a" href="#" style="cursor: pointer;">Logout</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="myLogin a" href="#" style="cursor: pointer;">Inscription</a></li>
                </ul>
            </div>


</div>