<div class="page-container">

    <header class="header-desktop">
        <div class="section-content section-content-p30">
            <div class="container-fluid">


                <div class="header-wrap">

                    <app-search></app-search>
                    <div class="col-md-12" style="padding-left:45%">
                        <div class="row">

                            <app-cart></app-cart>
                            <app-login></app-login>

                        </div>
                    </div>



                </div>

                </div>
            </div>
        </header>
