<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list" >

            <li *ngFor ="let tempProductCategory of productCategory"routerLinkActive="active-link" >
                
                <a routerLink="/productCategory/{{ tempProductCategory.id }}/{{ tempProductCategory.categoryName }}" >
                    {{ tempProductCategory.categoryName }}
                </a>      
        </li>
        </ul>
    </nav>
</div>
