.rating-list li.selected {
   color: #ffd700; 
}
.rating-list li {
   float: right;
   color: rgb(169, 173, 172);
   padding: 10px 5px;
 
 }
 
 .rating-list li:hover,
 .rating-list li:hover ~ li {
   color: #ffd700; 
 }
 
 .rating-list {
   display: inline-block;
   list-style: none;
 }